<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add New Story</title>
        <link rel="stylesheet" href="/stylesheets/tailwind.css">
    </head>
    <body>
        <header class="flex flex-row bg-black justify-between items-center font-body ">
            <section class="logo-section w-30 px-3 py-1">
                <div class="">
                    <img class="w-3/12" src="/images/logo.png" alt="snapshot logo">
                </div>
            </section>
            <section class="nav">
                <nav>
                    <ul class="text-white flex flex-row justify-between text-2xl">
                        <li class="mx-4"><a href="/">Home</a></li>
                        <li class="mx-4"><a href="/stories">Stories</a></li>
                        <li class="mx-4"><a href="/dashboard">Dashboard</a></li>
                        <li class="mx-4"><a href="/logout">LogOut</a></li>
                    </ul>
                </nav>
            </section>
        </header>
        <main class="h-screen font-body">
            <section class="text-3xl text-center my-4">
                <h2>Add new story for your snapshot</h2>
            </section>
            <section class="addstory-section my-2  flex flex-row justify-center ">
                <form class="flex flex-col w-1/2 " enctype="multipart/form-data" action="/stories/new" method="POST">
                    <input class="w-full border-solid border-l  border-gray-300" type='file'  name="snapshot" value="Upload Image">
                    <input class="w-full hover:bg-gray-700 hover:text-white  my-3 py-3 outline-none   border-solid border-4 border-light-black" type="text" name="title" id="" placeholder="Add your title">
                    <textarea class="w-full hover:bg-gray-700 hover:text-white outline-none border-solid border-4 border-light-black" name="description" id="" cols="30" rows="13" placeholder="Add description"></textarea>
                    <input class="w-full py-3 my-3 hover:bg-gray-700 hover:text-white outline-none border-solid border-4 border-light-black" type="text" name="tags" placeholder="Add tags">
                    <input class="w-full py-3 bg-black text-white cursor-pointer" type="submit" id="submit" >
                </form>
            </section>
        </main>
    </body>
</html>