<!DOCTYPE html>
<html>
  <head>
    <title>Snap it & Shape It</title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body class="w-full h-screen bg-cover " style="background-image: url('/images/homebg.jpg')">
    <header class="flex flex-row bg-black justify-between items-center font-body ">
      <section class="logo-section w-30 px-3 py-1">
          <div class="">
              <img class="w-3/12" src="/images/logo.png" alt="snapshot logo">
          </div>
      </section>
      <section class="nav">
          <nav>
              <ul class="text-white flex flex-row justify-between text-1xl">
                  <li class="mx-4"><a href="/">Home</a></li>
                  <li class="mx-4"><a href="/stories">Stories</a></li>
              </ul>
          </nav>
      </section>
    </header>
    <main class="font-body">
      <article class="flex flex-col justify-center items-center text-center h-screen ">
        <section>
          <div class=" flex flex-row justify-center" >
            <img class="w-2/12" src="images/focus.png" alt="camera focus image">
          </div>
          <h1 class="text-6xl py-2 text-white font-bold">Snap it & Shape It</h1>
          <h2 class="text-4xl bg-black px-2  py-2 my-2 text-white font-semibold">A new generation thoughts about different snapshots </h2>
          <h3 class="text-1xl py-2 text-white font-bold">Write a story about snapshot and let the world know about your snapshot and your thoughts</h3>
          <h4 class="text-1xl py-2 text-white font-bold">Register now and start writing about the snapshots which you captcured.</h4>
        </section>
        <section class="auth-buttons flex my-4 flex-row justify-center items-center">
         <%  if(status == 'login'){  %>
          <a class="bg-red-800 hover:bg-black hover:text-red-800 text-white text-2xl py-2 px-4" href="/user/register">Register</a>
          <span class="mx-4 text-4xl text-white font-bold">Or</span>
          <a class="bg-red-800 hover:bg-black hover:text-red-800 text-2xl text-white py-2 px-4" href="/user/login">Login</a>
      <%   }else{  %>
          <a class="bg-red-800 hover:bg-black hover:text-red-800 text-2xl text-white py-2 px-4" href="/dashboard">dashboard</a>
       <%  }  %>
        </section>
      </article>
    </main>
  <footer>
    <section class="bg-black py-4 text-white font-bold text-center">
      <small class="text-2xl ">All right reserverd &copy; Village-Vibes </small>
      <strong>Village-Vibes</strong>
    </section>
  </footer>
  </body>
</html>
