<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="/stylesheets/tailwind.css">
    </head>
    <body class="font-body">
       <article class="flex flex-col items-center justify-center font-bold h-screen  ">
             <section class=" max-w-4xl relative flex flex-row items-center justify-center left-20  py-15">
                 <div class="">
                     <a href="/"><img class="w-5/12" src="/images/blacklogo.png" alt="logo"></a>
                 </div>
             </section>
             <section class="flex flex-col py-20 my-5    items-center justify-center">
                 <div class="my-3">
                    <h2 class="text-center text-4xl font-bold py-3">Join snapstory</h2>
                 </div>
                 <div>
                    <form action="/user/register" method="POST" class="flex flex-col items-center w-96 ">
                        <input type="text" name="name" id="username" placeholder="Enter username" required class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-900 focus:text-white w-96 focus:shadow-inner">
                        <input type="email" name="email" id="email" placeholder="Enter email" required class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-900 focus:text-white w-96 focus:shadow-inner">
                        <input type="password" name="password" id="password" placeholder="Set Password" required class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-900 focus:text-white w-96 focus:shadow-inner">
                        <input type="submit" id="submit" value="SignUp" class="my-3 py-2 text-2xl mx-12 w-/2 font-bold cursor-pointer bg-gray-900 text-white    items-center " >
                    </form>
                 </div>
                 <div class="login-btn-section my-3">
                     <span class="text-1xl font-bold">Already registered? <a class="px-2 bg-black text-white py-1" href="/user/login">Login</a></span>
                 </div>
             </section>
       </article>
    </body>
</html>